@{
    ViewBag.Title = "Đặng Tài Nguyên";
}
<h2>@ViewBag.Title.</h2>
<h3>bìa thi giữa kì của Đặng Tài Nguyên - cam kết không đạo văn</h3>

<address>
    K22CNT4 - môn lập trình ứng dụng web với công nghệ Asp.Net MVC5
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:nguyen@gmail.com.com">nguyen@gmail.com</a><br />
    <strong>Cá Nhân:</strong> <a href="mailto:nguyendeptraiokk2004@gmail.com">nguyendeptraiokk2004@gmail.com</a>
</address>