
@{
    ViewBag.Title = "đặng tài nguyên-index";
}

<h2>đặng tài nguyên-index</h2>
<hr/>
<h3>Hien thi du lieu  lay tu action trong controller</h3>
<h4>fullname: @ViewBag.fullname</h4>
<h4>ngay sinh:@ViewData["birthday"]</h4>
<h4>di dong : @TempData["phone"]</h4>
