
@{
    ViewBag.Title = "thong tin khach hang";
}

<h2>thong tin khach hang</h2>
<div class="alert alert-danger">
    <h3>ma so: @ViewBag.customer.CustomerId</h3>
    <p>ho va ten:@ViewBag.customer.FirstName @ViewBag.customer.LastName </p>
    <p>ma so:@ViewBag.customer.Address</p>
    <p>ma so:@ViewBag.customer.YearOfBirth</p>

</div>

